* {
    box-sizing: border-box;
    /* at padding og border bliver integreret i elementets samlede bredde og højde på hele siden, nemmer at arbejde med */
    margin: 0px;
    padding: 0px;
}

body    {
    overflow-x:hidden;
    background-color: #FEF4EA;
}

h1 {
    color: #FFF;
    font-family: Gloock;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    color: #791E19;
    font-family: Gloock;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    color: #791E19;
    font-family: Gloock;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

h4 {
    color: #000;
    font-family: Merriweather;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.1875rem; /* 175% */
}

p {
    color: #000;
    font-family: Merriweather;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem; /* 178.571% */
}

button:hover {
    background-color: #B96460;
}

a {
    text-decoration: none;
    color: #000;
    font-family: Merriweather;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem; /* 178.571% */
}

button {
    color: #FFF8F8;
    text-align: center;
    font-family: Merriweather;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 1.875rem;
    background: #791E19;
    width: 6.6875rem;
    height: 2.05138rem;
    flex-shrink: 0;
    border: none;
}

button:hover {
    background-color: #B96460;
}

a:hover {
    color: #B96460;
    font-weight: 700;
}

ul {
    list-style-type: none; 
}

img {
    width: 100%;
}

header {
    height: 3.125rem;
    width: 100%;
    background-color: #bbb5ff;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.logo {
    width: 178px;
    height: 100%;
    margin-top: 10px;
    margin-left: 20px;
}

.header_navn {
    display: none;
}

.some_logo {
    display: none;
}

.hamburgermenuen {
    height: 100%;
    width: 0;
    position: fixed;
    top: 3.125rem;
    right: 0;
    background-color: #FEF4EA;
    overflow-x: hidden;
    transition: 1s;
    box-shadow: 1px 0px 0px #D9C4B0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hamburger {
    background: transparent;
    left: 20px;
    top: 16px;
    font-size: 24px;
    border: none;
    z-index: 1;
    width: 65px;
    height: 30px;
    margin: 8px 0px 0px 20px;
}

.hamburger:hover {
    background: transparent;
}

.logo_list_mobil {
    display: flex;
}


.header_list_mobil {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header_list_mobil li {
    margin: 0.5rem 0;
}

.header_list_mobil li a {
    color: #791E19;
    padding-right: 20px;
}

.sort_some_logo_mobil {
    width: 20px;
    margin: 5px;
}

.hamburger_some_logo {
    display: flex;
    margin-right: 15px;
    margin-top: 10px;
}





@media (min-width: 600px) {
    h1 {
        color: #FFF;
        font-family: Gloock;
        font-size: 5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    h2 {
        color: #791E19;
        font-family: Gloock;
        font-size: 2.5;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    h3{
        color: #791E19;
        font-family: Gloock;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
    }
    
    h4 {
        color: #000;
        font-family: Merriweather;
        font-size: 0.90rem;
        font-style: normal;
        font-weight: 900;
        line-height: 35px; /* 175% */
    }
    
    p {
        color: #000;
        font-family: Merriweather;
        font-size: 0.90rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.1875rem; /* 175% */
    }
    
    button {
        width: 10.1875rem;
        height: 3.125rem;
        background: #791E19;
        flex-shrink: 0;
        color: #FFF8F8;
        text-align: center;
        font-family: Merriweather;
        font-size: 0.90rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 1.875rem;
        border: none;
    }
}

@media (min-width: 1024px) {

    .hamburger {
        display: none;
    }

    .header_nav {
        display: flex;
    }

    .some_logo {
        display: flex;
    }
}